<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ShowSplashScreen" value="True" />
		<add key="DistanceApi" value="https://maps.googleapis.com/maps/api/distancematrix/xml?units=imperial" />
		<add key="GoogleMapApiKey" value="key=AIzaSyDfg_S3lgYIjUbvKlS4jaxmIT1fbOUGo24" />
		<add key="BingMapApiKey" value="o0d0DaQVn9doxBSv0Iav~18DKWHqGEhx_VMMFR7xMDQ~AgvRSUp6K2hNXPOVUBOEd3KcZV_-IHxAB8e2sDWtC-dD_HCTkSca9QeWUNih5KFP" />
		<add key="GeocodingApi" value="https://maps.googleapis.com/maps/api/geocode/xml?address=" />
		<add key="SortedByHomePage" value="0" />
	</appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	
<connectionStrings><add name="WeSplitEntities" connectionString="metadata=res://*/WeSplit.csdl|res://*/WeSplit.ssdl|res://*/WeSplit.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=WeSplit;integrated security=True;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings></configuration>