<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="DistanceApi" value="https://maps.googleapis.com/maps/api/distancematrix/xml?units=imperial"/>
		<add key="ApiKey" value="AIzaSyDfg_S3lgYIjUbvKlS4jaxmIT1fbOUGo24" />
	</appSettings>
</configuration>