<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

	<appSettings>
		<add key="DistanceApi" value="https://maps.googleapis.com/maps/api/distancematrix/xml?units=imperial"/>
		<add key="GoogleMapApiKey" value="key=AIzaSyDfg_S3lgYIjUbvKlS4jaxmIT1fbOUGo24" />
		<add key="BingMapApiKey" value="o0d0DaQVn9doxBSv0Iav~18DKWHqGEhx_VMMFR7xMDQ~AgvRSUp6K2hNXPOVUBOEd3KcZV_-IHxAB8e2sDWtC-dD_HCTkSca9QeWUNih5KFP" />
		<add key="GeocodingApi" value="https://maps.googleapis.com/maps/api/geocode/xml?address="/>
	</appSettings>
</configuration>